body, html {
    padding: 0px;
    margin: 0px;
    font-family: arial;
}

table, th, td {
  border:1px solid black;
}

table tr:hover {
    background-color: blanchedalmond;
    cursor: pointer;
}

table tr.active {
    background-color: aquamarine;
}

table tr.not_active {
    background-color: white;
}